<h2>Index of all COINS:</h2>


<ul>
    <li>
        Bitcoin | Price - <%= bitcoins.bitcoin.usd %> | Market Cap - <%= bitcoins.bitcoin.usd_market_cap %> | Volume 24 Hrs - <%= bitcoins.bitcoin.usd_24h_vol %>
    </li>
    <li>
        Ethereum | Price - <%= ethereums.ethereum.usd %> | Market Cap - <%= ethereums.ethereum.usd_market_cap %> | Volume 24 Hrs - <%= ethereums.ethereum.usd_24h_vol %>
    </li>
</ul>


