<h2>Index of all COINS:</h2>


<ul>
    <li>
        Bitcoin | Price - <%= bitcoins.bitcoin.usd %> | Market Cap - <%= bitcoins.bitcoin.usd_market_cap %> | Volume 24 Hrs - <%= bitcoins.bitcoin.usd_24h_vol %>
    </li>

    <li>
        Ethereum | Price - <%= ethereums.ethereum.usd %> | Market Cap - <%= ethereums.ethereum.usd_market_cap %> | Volume 24 Hrs - <%= ethereums.ethereum.usd_24h_vol %>
    </li>

    <li>
        Tether | Price - <%= tethers.tether.usd %> | Market Cap - <%= tethers.tether.usd_market_cap %> | Volume 24 Hrs - <%= tethers.tether.usd_24h_vol %>
    </li>

    <li>
        BNB | Price - <%= bnbs.binancecoin.usd %> | Market Cap - <%= bnbs.binancecoin.usd_market_cap %> | Volume 24 Hrs - <%= bnbs.binancecoin.usd_24h_vol %>
    </li>

    <li>
        XRP | Price - <%= xrps.ripple.usd %> | Market Cap - <%= xrps.ripple.usd_market_cap %> | Volume 24 Hrs - <%= xrps.ripple.usd_24h_vol %>
    </li>

    <li>
        Cardano | Price - <%= adas.cardano.usd %> | Market Cap - <%= adas.cardano.usd_market_cap %> | Volume 24 Hrs - <%= adas.cardano.usd_24h_vol %>
    </li>

    <li>
        Solana | Price - <%= sols.solana.usd %> | Market Cap - <%= sols.solana.usd_market_cap %> | Volume 24 Hrs - <%= sols.solana.usd_24h_vol %>
    </li>

    <li>
        Dogecoin | Price - <%= doges.dogecoin.usd %> | Market Cap - <%= doges.dogecoin.usd_market_cap %> | Volume 24 Hrs - <%= doges.dogecoin.usd_24h_vol %>
    </li>

    <li>
        Polkadot | Price - <%= dots.polkadot.usd %> | Market Cap - <%= dots.polkadot.usd_market_cap %> | Volume 24 Hrs - <%= dots.polkadot.usd_24h_vol %>
    </li>

    <li>
        Chainlink | Price - <%= links.chainlink.usd %> | Market Cap - <%= links.chainlink.usd_market_cap %> | Volume 24 Hrs - <%= links.chainlink.usd_24h_vol %>
    </li>
</ul>

<a href="/coins/new" class="btn btn-primary">Add Coin</a>

<ul>
    <!-- <li>Display Coins</li> -->
    <li>
        <li>
            <% coin.forEach(coin => { %>
                <p><a href="/coins/<%= coin.id %>"><%= coin.name %></a></p>
                <%= coin.description %>

                <p></p>
           <% }) %>
    </li>
</ul>
